<html>
  <head>
    <meta charset="utf-8" />
    <title>Keymap</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="KLEparser.js"></script>
    <script src="svg.min.js"></script>
    <script src="https://unpkg.com/vue-swatches"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
    <div class="container">
      <section class="section">
        <h1 class="title">Keyboard Layout 3D Viewer</h1>
        <div id="app">
          <div class="field">
            <label class="label">Keyboard Layout Editor Raw data</label>
            <div class="control">
              <textarea v-model="rawdata" placeholder="Raw data" class="textarea"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">QMK keymap.c</label>
            <div class="control">
              <textarea v-model="keymap" placeholder="keymap.c" class="textarea"></textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button id="renderBtn" v-on:click="renderKB" class="button is-dark">Render</button>
            </div>
          </div>
          <div id="keymap"></div>
        </div>
      </section>

      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Keymap</strong> by <a href="https://github.com/eswai/">eswai</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>

  <script type="text/javascript">
    const keypitch = 50
    const keygap = 4
    const fontsize = 15
    const layerfont = 10

    var app = new Vue({
      el: '#app',
      data: {
        draw: "",
        keymap: "",
        rawdata: "[{x:3,c:\"#a1a1a1\",t:\"#ffffff\",p:\"DSA\",a:7},\"3\",{x:6.85},\"8\"],[{y:-0.9,x:2},\"2\"],[{y:-1,x:4},\"4\"],[{y:-1,x:9.85},\"7\"],[{y:-1,x:11.85},\"9\"],[{y:-0.9,x:5},\"5\"],[{y:-1,x:8.85},\"6\"],[{y:-0.8},\"0\",\"1\",{x:10.85},\"10\",\"11\"],[{y:-0.4,x:3},\"15\",{x:6.85},\"20\"],[{y:-0.9,x:2},\"14\",{x:1},\"16\",{x:4.85},\"19\",{x:1},\"21\"],[{y:-0.9,x:5},\"17\",{x:2.85},\"18\"],[{y:-0.8},\"12\",\"13\",{x:10.85},\"22\",\"23\"],[{y:-0.4,x:3},\"27\",{x:6.85},\"32\"],[{y:-0.9,x:2},\"26\",{x:1},\"28\",{x:4.85},\"31\",{x:1},\"33\"],[{y:-0.9,x:5},\"29\",{x:2.85},\"30\"],[{y:-0.8},\"24\",\"25\",{x:10.85},\"34\",\"35\"],[{y:-0.2,x:3.5},\"36\",{x:5.85},\"41\"],[{r:15,rx:7.5,ry:4,y:-0.05,x:-2.8},\"37\"],[{r:30,y:-1.05,x:-1.5,h:1.5},\"38\"],[{r:-30,y:-1.1,x:0.35,h:1.5},\"39\"],[{r:-15,y:-0.9,x:1.65},\"40\"]"
      },


      created: function() {
      },

      methods: {
        renderKB: function() {
          var that = this

          if (that.draw == "") that.draw = SVG("keymap").size(1500, 500)
          that.draw.clear()

          // parse KLE data and render keyboard
          var kb = KLEparser(that.rawdata)

          kb.keys.forEach(function(key){
            var gr = that.draw.group()
            var kc = that.draw.rect(key.w * keypitch - keygap, key.h * keypitch - keygap)
                         .radius(3)
                         .fill('#fff')
                         .stroke('#000')
            gr.add(kc)
            var bk = kc.bbox()

            var t0 = that.draw.text(key.mainKey())
                        .font({ fill: '#000', family: 'Helvetica' })
                        .size(fontsize)
            var bt0 = t0.bbox()
            t0.cx(bk.width / 2)
            t0.cy(bk.height / 2)
            gr.add(t0)

            var t1 = that.draw.text("LOW")
                        .font({ fill: '#FF8000', family: 'Helvetica' })
                        .size(layerfont)
            var bt1 = t1.bbox()
            // if (bt1.width > 20) t1.transform({scaleX: 20 / bt1.width, cx: 0})
            t1.x(3)
            t1.y(3)
            gr.add(t1)

            var t2 = that.draw.text("ADJ")
                        .font({ fill: '#2E2EFE', family: 'Helvetica' })
                        .size(layerfont)
            var bt2 = t2.bbox()
            // if (bt2.width > 20) t2.transform({scaleX: 20 / bt2.width, cx: 0})
            t2.x(3)
            t2.y(bk.height - 3 - bt2.height)
            gr.add(t2)

            var t3 = that.draw.text("RAI")
                        .font({ fill: '#04B431', family: 'Helvetica' })
                        .size(layerfont)
            var bt3 = t3.bbox()
            // if (bt3.width > 20) t3.transform({scaleX: 20 / bt3.width, cx: bt3.width})
            t3.x(bk.width - 3 - bt3.width)
            t3.y(3)
            gr.add(t3)

            var t4 = that.draw.text("LAY")
                        .font({ fill: '#BF00FF', family: 'Helvetica' })
                        .size(layerfont)
            var bt4 = t4.bbox()
            // if (bt4.width > 20) t4.transform({scaleX: 20 / bt4.width, cx: bt4.width})
            t4.x(bk.width - 3 - bt4.width)
            t4.y(bk.height - 3 - bt4.height)
            gr.add(t4)

            gr.cx(key.centerX() * keypitch)
            gr.cy(key.centerY() * keypitch)
            gr.rotate(key.r * 180 / Math.PI)
          })
        }
      }
    })
  </script>
</html>
